.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px black solid;
  background-color: #F1F1F1;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px
}

.title {
  font-weight: 700;
  font-size: 20px;
}
