:root {
  --text-size-document: 32px;
  --text-size-page: 28px;
  --text-size-section: 24px;
  --text-size-subsection: 20px;
  --text-size-regular: 16px;
  --text-size-caption: 12px;

  --color-black: #000;
  --color-grey: #7B7B7B;
  --color-grey-7: #DEE0E3;
  --color-grey-10: #F1F1F1;
  --color-white: #fff;
  --color-blue: #29A6FE;
  --color-blue-4: #DDF1FF;
  --color-red: #F23D35;
  --color-red-4: #FDE0DF;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.text-document  {
  font-size: var(--text-size-document);
  font-weight: 700;
}

.text-page {
  font-size: var(--text-size-page);
  font-weight: 700;
}

.text-section {
  font-size: var(--text-size-section);
  font-weight: 400;
}

.text-subsection {
  font-size: var(--text-size-subsection);
  font-weight: 400;
}

.text-regular {
  font-size: var(--text-size-regular);
}

.text-regular-bold {
  font-size: var(--text-size-regular);
  font-weight: 500;
}

.caption {
  font-size: var(--text-size-caption);
}
